<div class="main">
        <div class="container">
            <app-product-list></app-product-list>

            <!-- <div class="row my-3 d-flex justify-content-center align-items-center"> -->

                <!-- <div class="col-md-8 justify-content-end">

                    <div class="search">
                        <input type="text" class="form-control" placeholder="Looking for something to donate to">
                        <button class="btn btn-secondary">Search</button>
                    </div>

                </div> -->
                <!-- <div class="container d-flex justify-content-end col-md">
                    <button class="btn btn-secondary">View All</button>

                </div> 
                <div class="container d-flex justify-content-end col-md">
                    <button class="btn btn-secondary">Add Product</button>
                </div> -->

            <!-- </div> -->
    </div>


    <!-- <div class="section">
        <div class="row d-flex justify-content-center align-items-center">
            
        </div>

    </div> -->
</div>