
<p-card header="Orders" subheader="List of all orders" class="container mt-5">
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="orders" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">User <p-sortIcon field="user"></p-sortIcon></th>
              <th pSortableColumn="totalPrice">
                Total Price <p-sortIcon field="totalPrice"></p-sortIcon>
              </th>
              <th pSortableColumn="dateOrdered">
                Date Ordered <p-sortIcon field="dateOrdered"></p-sortIcon>
              </th>

<table class="table">
  <thead class="table-dark">
    <tr>
      <td>User Name</td>
      <td>Total Price</td>
      <td>Date</td>
      <td>payment Method</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.user.name}}</td>
      <td>{{ order.totalOredrPrice }}</td>
      <td>{{ order.createdAt | date: 'short' }}</td>
      <td>{{order.paymentMethodType}}</td>
    </tr>
  </tbody>
</table>